/* line 1, ../sass/simplelightbox.scss */
.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.95;
  display: none;
  z-index: 1006;
}

/* line 12, ../sass/simplelightbox.scss */
.sl-wrapper {
  z-index: 1000;
}
/* line 14, ../sass/simplelightbox.scss */
.sl-wrapper button {
  border: 0 none;
  background: transparent;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  -webkit-transition:background 0.15s ease-out; 
  transition:background 0.15s ease-out;
}
/* line 20, ../sass/simplelightbox.scss */
.sl-wrapper button:hover {
  
}
/* line 25, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1015;
  width: 46px;
  height: 46px;
  text-align: center;
  background: #151515;
  color: transparent;
}
.sl-wrapper .sl-close:before, .sl-wrapper .sl-close:after{width: 14px; height: 2px; position: absolute; left: 50%; top: 50%; margin: -1px 0 0 -7px; content: ""; background: #fff; transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.sl-wrapper .sl-close:after{transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.sl-wrapper .sl-close:hover{background: #fff;}
.sl-wrapper .sl-close:hover:before, .sl-wrapper .sl-close:hover:after{background: #151515;}
/* line 33, ../sass/simplelightbox.scss */
.sl-wrapper .sl-counter {
  display: none;
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 1015;
  font-size: 15px;
  line-height: 24px;
}
/* line 41, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation {
  width: 100%;
  display: none;
}
/* line 44, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -23px;
  height: 46px;
  width: 46px;
  line-height: 30px;
  text-align: center;
  display: block;
  z-index: 1015;
  font-family: arial sans-serif;
  color: transparent;
  -webkit-transition:border-color 0.15s ease-out; 
  transition:border-color 0.15s ease-out;
}
.sl-wrapper .sl-navigation button:hover{
  border: 1px #b5b5b5 solid;
}
/* line 55, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-next {
  right: 50px;
  background: url(../img/arrow1-right.png) center center no-repeat;
}
/* line 59, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-prev {
  left: 50px;
  background: url(../img/arrow1-left.png) center center no-repeat;
}
/* line 65, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image {
  position: fixed;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
}
/* line 70, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image img {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 75, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image iframe {
  border: 0 none;
  background: #000;
}
/* line 79, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: #000;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 90, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-top {
  bottom: auto;
  top: 0;
}
/* line 95, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-outside {
  bottom: auto;
}
/* line 100, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  z-index: 1005;
}

/* line 111, ../sass/simplelightbox.scss */
.sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1007;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  -ms-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

/* line 130, ../sass/simplelightbox.scss */
.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-ms-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
